<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Book Submission</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
	<div>
		<form action="/add_book" method="POST">
			<input type="text" placeholder="Title">
			<input type="text" placeholder="Author">
			<input type="text" placeholder="Genre">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div>
		<form action="/add_author" method="POST">
			<input type="text" name="name" placeholder="Name">
			<input type="submit" value="Submit">
		</form>
	</div>
  <script src="js/scripts.js"></script>
</body>
</html>